{% extends 'layout.html' %}
{% import 'macros/frontend_inputs.html' as inputs %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block main %}
<div class="login_page">
    <div class="login_block l-grid">
        <div class="login_container">
            <div class="inner_login_container">
                <form method="post" class="login_form" autocomplete="off">
                    <div class="form-group">
                        {{inputs.text_input('Username','username',true)}}
                    </div>
                    <div class="form-group">
                        {{inputs.password_input('Password','password',true)}}
                    </div>
                    <button class="btn btn-primary submit_button" type="submit">Login</button>
    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}