{% macro loader_checkmark() %}
<div class="circle-loader">
    <div class="checkmark draw"></div>
</div>
{% endmacro %}

{% macro computer_to_phone_loader() %}
<div class="computer_to_phone_loader">
    <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
{% endmacro %}

{% macro football_loader() %}
<div class="football_loader">
    <div class="loader">
        <div class="pitch"></div>
        <div class="circle"></div>
        <div class="players">
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro unfolding_circles_loader() %}
<div class="unfolding_circles_loader">
    <div class="loader">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro bouncing_tenis_ball() %}
<div class="bouncing_tenis_ball">
    <div class="court">
        <div class="tennis-ball"></div>
        <div class="ball-shadow"></div>
    </div>
</div>
{% endmacro %}
