{% extends "layout.html" %}
{% import 'macros/frontend_creation.html' as creation_macros %}
{% block main %}
<script src="{{ url_for('static', filename='js/create_game.js')}}" defer></script>
<script src="{{ url_for('static', filename='js/modal.js')}}" defer></script>
<form method="POST" action="{{url_for('create.game',edition_name=edition.name)}}">
    <div class="game_container">

        {% set number_of_players = edition.get_number_of_players() | int %}
        {% set number_of_players_in_team = (number_of_players/2) | int %}
    
        {% set field_image = url_for('static', filename="images/Campo-Torrinha.jpg")%}
        <div class="game_info_container" style="background-image: linear-gradient(to top,rgba(2, 90, 61, 0.5) ,rgba(0,0,0,0.8)), url({{field_image}});color: white;">
            <div>
                <table class="table table-borderless" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr style="font-size: smaller;"> 
                            <td colspan="3">
                                {{edition.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="results_container">
                <div class="team_logo_container">
                    <div class="image profile_picture">
                        <img src="{{ url_for('static', filename='images/Branquelas.png')}}">
                    </div>
                    <div class="team_name"> Branquelas </div>
                </div>
                <div class="game_result">
                    <div class="game_result_inputs">
                        <input type="number" name="goals_team1" class="goals_of_team_input"> 
                        - 
                        <input type="number" name="goals_team2" class="goals_of_team_input">
                    </div>
                </div>
                <div class="team_logo_container">
                    <div class="image profile_picture">
                        <img src="{{ url_for('static', filename='images/Maregões.png')}}">
                    </div>
                    <div class="team_name"> Maregões </div>
                </div>
            </div>
            <div class="results_container_small_screen">
                <div class="teams_container">
                    <div class="team_logo_container">
                        <div class="image profile_picture">
                            <img src="{{ url_for('static', filename='images/Branquelas.png')}}">
                        </div>
                        <div class="team_name"> Branquelas </div>
                    </div>
                    <div class="team_logo_container">
                        <div class="image profile_picture">
                            <img src="{{ url_for('static', filename='images/Maregões.png')}}">
                        </div>
                        <div class="team_name"> Maregões </div>
                    </div>
                </div>
                <div class="game_result">
                    <div class="game_result_inputs">
                        <input type="number" name="goals_team1" class="goals_of_team_input" pattern="\d*">
                        - 
                        <input type="number" name="goals_team2" class="goals_of_team_input" pattern="\d*">
                    </div>
                </div>
            </div>
        </div>
        <div class="games_info">
            <br>
            <div class="smallheader">
                Ficha do jogo
            </div>
            <div>
                <input type="date" name="game_date" value="{{default_day.strftime('%Y-%m-%d')}}">
            </div>
            <div class="box_container">
                <div class="line_up">
                    <div class="heading">
                        <span class="optional_description">Equipa</span><span class="optional_description_for_small_screen">Branquelas</span>
                    </div>
                    <div class="table table-striped table_line_up">
                        {{creation_macros.create_game_team_input(players[:number_of_players_in_team],1)}}
                    </div>
                </div>
                <div class="line_up">
                    <div class="heading">
                        <span class="optional_description">Equipa</span><span class="optional_description_for_small_screen"> Maregões</span>
                    </div>
                    <div class="table table-striped table_line_up">
                        {{creation_macros.create_game_team_input(players[number_of_players_in_team:],2)}}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Criar</button>
    </form>
    {{creation_macros.switch_player_modal(players)}}
{% endblock %}
